/* 交通 */
.icon-jiaotong{
  color: #009B7C;
}

.icon-yiyuan{
  color: #008564;
}

.icon-gongsi-{
  color: #016BD8;
}

.icon-lvhang{
  color: #016BD8;
}

.icon-qita{
  color: #016BD8;
}

.icon-canju{
  color: #F37D01;
}

.icon-gouwu{
  color: #E53925;
}

.icon-licai{
  color: #DF4704;
}

.icon-yule{
  color: #EB7000;
}

.icon-gongzi{
  color: #53a1e6;
}

.icon-jiangjinjilu{
  color: #f14a38;
}

.icon-jianzhi{
  color: #32b296;
}

.icon-qianmoney113{
  color: #EB7000;
}

.icon-gupiao{
  color: #53a1e6;
}