body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* background-image: radial-gradient(circle farthest-side at 3.125rem 3.125rem,#3ce4ff 50%,#2f8aff); */
  min-width: 320px;
  background-color: rgb(224, 224, 224);
  max-width: 100%;
  min-width: 100%;
}

@font-face {
  font-family: youyuan;
  src: url('../font/SIMYOU.TTF');
}

header {
  width: 100%;
  height: 24%;
  /* background-image: radial-gradient(to right, #3ce4ff, #2f8aff);
   */
   background-image: linear-gradient( to top, #3ce4ff, #2f8aff);
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 1.2rem 1.875rem 0rem;
  position: relative;
}

header .title i {
  font-size: 1.4rem;
  vertical-align: middle;
  position: absolute;
  right: .875rem;
  transition: all .2s;
}

header .price {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
}

header .price .total-price {
  font-size: 2.125rem;
}

.expenses {
  height: 12%;
  width: 100%;
  color: #fff;
  display: flex;
  background-color: #3CE4FF;
}

.expenses > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.expenses div.annual, .expenses div.monthly {
  flex: 1;
  box-sizing: border-box;
}

.expenses div.annual {
  border-right: 1px solid #fff;
}

.expenses .tag{
  font-size: .6rem;
}

nav {
  width: 100%;
  height: 8%;
  color: #4696fb;
  border-bottom: .125rem solid rgb(187, 183, 183);
  display: flex;
  align-items: center;
  background-color: #fff;
}

nav > i {
  text-align: center;
  flex: 1;
}

nav > i.icon-zuojiantou{
  float: left;
}

nav > i.icon-youjiantou{
  float: right;
}

nav > div {
  text-align: center;
  flex: 3;
}

nav i {
  font-size: 1.225rem!important;
  vertical-align: middle;
}




main {
  width: 100%;
  margin-top: .925rem;
}

main .statistics li{
  border: 1px solid rgb(194, 194, 194);
  border-left: none;
  border-right: none;
  padding: .3125rem;
  background-color: #fff;
}

main .statistics li .title{
  width: 30%;
  font-family: youyuan;
}

main .statistics li .num {
  display: inline-block;
  text-align: right;
  width: 80%;
}

.income{
  color: #006ef7;
}

.live-expenses{
  color: #ee2770;
}

main .day{
  width: 100%;
}

main .day .time{
  width: 100%;
  font-size: .8rem;
  color: #887f7f;
  padding: .3125rem 0; 
}

main .day li{
  padding: .325rem .3125rem;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}

main .day li i{
  font-size: 1.2625rem;
  vertical-align: middle;
}

main .day li .type{
  font-family: youyuan;
}

main .day li .num{
  display: block;
  text-align: right;
  float: right;
}


footer {
  width: 100%;
  height: 12%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-top: 2px solid #ccc;
}

footer .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

footer .container a.add{
  padding-bottom: 2rem;
  font-size: 3rem;
  background-color: #fff;
  border-radius: 50%;
}

footer .container .iconfont{
  font-size: 1.6rem;
  color: #666;
}

footer .container .footer-active{
  color: #2f8aff;
}

aside{
  width: 0;
  height: 100%;
  background-color: #f40;
  position: fixed;
  right: 0;
  top: 0;
  transition: width .2s;
  /* 点击图标left: -11.125rem; */
  background-image: linear-gradient(to top, #308BFE, #3CE4FF);

}

aside ul {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: .7375rem;
}


aside ul li{
  width: 100%;
}

aside ul li.item{
  height: 8%;
  box-sizing: border-box;
  padding-left: 1.85rem;
}



aside ul .userInfo{
  height: 18%;  
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: .925rem;
}

aside ul .userInfo .avatar img{
  width: 3rem;
  border-radius: 50%;
  margin-right: .625rem;
}

aside ul .userInfo .info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside ul .userInfo .info .userName{
  margin-bottom: .625rem;
}

aside ul li.item .iconfont{
  font-size: 1rem;
  vertical-align: text-bottom;
  margin-right: .3125rem;
}
