@import url(//at.alicdn.com/t/font_2530725_iv40li7q04d.css);
body {
  background-color: #f8b669;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  user-select: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 9% 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.book {
  width: 21%;
  height: 32.8%;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 1200px;
  transition: .8s;
  z-index: 345;
}

.item1, .item2, .item3, .item4, .item5 {
  width: 270px;
  height: 400px;
  position: absolute;
  /* 这是翻页的起点，在左边 */
  transform-origin: left;
  background-size: cover;
  /* 这是翻页时元素之间的延迟 */
  transition: calc(var(--i)*.3s);
  /* 这是翻页时元素的层级 */
  z-index: calc(var(--i)*99);
}

.item1, .item2 {
  border: solid 20px #576574;
  border-left: none;
  top: -20px;
  border-radius: 0 20px 20px 0;
}

.main {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #E7E1E3;
  opacity: 0;
  z-index: 1;
  transition: all .8s;
  width: 100%;
  height: 100%;
  min-width: 1260px;
  max-width: 1260px;
}

.music{
  position: absolute;
  bottom: 25%;
  left: 10%;
  width: 100px;
  height: 50px;
  border-radius: 28px;
  cursor: pointer;
  transition: all 0s;
}

.music .music-title{
  position: absolute;
  top: -30px;
  left: 25px;
  color: #fff;
  font-size: 18px;
}

.music #switch{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: #ccc;
  z-index: 2;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  transition: left .8s;
}

i.icon-shezhi{
  font-size: 22px;
  margin-left: 30px;
  font-weight: bold;
  color: #f99f9f;
  cursor: pointer;
  transition: all .8s;
}

i.icon-shezhi:hover{
  color: #fff;
}